{% extends "index.html" %}
{% block encabezado %}
    {% include "encabezado.html" %}
{%endblock %}
{% block menu %}
    {% include "menu.html" %}
{%endblock %}
{% block contenido %}
    <br>
    <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 7rem;">
        <form id="frmRegistrarUsuario" action="/registrarLibro/" method="post" enctype="multipart/form-data" class="was-validated w-75">                   
            {% csrf_token%}
            <h3 class="text-center fw-bold">REGISTRAR LIBRO</h3>
            <br>
            <div class="form-group row">
                <div class="mb-3 col-lg-4">
                    <label for="txtTitulo" class="fw-bold">Titulo:</label>
                    <input type="text" name="txtTitulo" class="form-control" id="txtTitulo" placeholder="Titulo del Libro" required> 
                </div>
                <div class="mb-3 col-lg-4">
                    <label for="txtAutor" class="fw-bold">Autor:</label>
                    <input type="text" name="txtAutor" class="form-control" id="txtAutor" placeholder="Autor" required>
                </div>
                <div class="mb-3 col-lg-4">
                    <label for="txtISBN" class="fw-bold">ISBN:</label>
                    <input type="text" name="txtISBN" class="form-control" id="txtISBN" placeholder="Codigo Unico" required> 
                </div>
            </div>
            <div class="form-group row">                
                <div class="mb-3 col-lg-6">
                    <label for="cbGenero" class="fw-bold">Genero:</label>              
                    <select name="cbGenero" id="cbGenero" class="form-select" required>
                        <option value="">Seleccione</option>
                            {% for genero in generos %}
                                <option value="{{genero.0}}">{{genero.1}}</option>
                            {% endfor %}
                    </select>
                </div>
                <div class="mb-3 col-lg-6">
                    <label for="txtAno" class="fw-bold">Año de publicacion:</label>
                    <input type="number" name="txtAno" class="form-control" id="txtAno" placeholder="ej: 2004" required> 
                </div>
            </div>
            <br>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-secondary">Registrar</button>
                <a href="/"><button type="button" class="btn btn-danger mx-2">Cancelar</button></a>
            </div>
        </form>
    </div>
{%if mensaje %}
    {%if estado %}
        <script>
            Swal.fire({
                title: 'Registro de Libro',
                text: '{{mensaje}}',
                icon: 'success',               
                confirmButtonColor: '#3085d6',             
                confirmButtonText: 'Aceptar'
            }).then((result) => {
                if (result.isConfirmed) {
                
                }
            })
        </script>
    {%else %}
        <script>
            Swal.fire({
                title: 'Registro de Libro',
                text: '{{mensaje}}',
                icon: 'warning',                
                confirmButtonColor: '#3085d6',             
                confirmButtonText: 'Aceptar'
            }).then((result) => {
                if (result.isConfirmed) {
                
                }
            })
        </script>
    {%endif%}
{%endif %}  
{%endblock %}
{% block piePagina %}
    {% include "piePagina.html" %}
{%endblock %}