<footer class="bg-info text-dark">
    <div class="container py-4">
      <div class="row">
        <div class="col-md-4">
          <h5>Nosotros</h5>
          <p>Somos una sistema para gestionar libros</p>
        </div>
        <div class="col-md-4">
          <h5>Enlaces útiles</h5>
          <ul class="list-unstyled">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contacto</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-geo-alt"></i> 123 Calle Principal, Neiva, Colombia</li>
            <li><i class="bi bi-phone"></i> +1234567890</li>
            <li><i class="bi bi-envelope"></i> info@biblioteca.com</li>
          </ul>
        </div>
      </div>
      <hr>
      <p class="text-center">© 2023 Todos los derechos reservados | ADSO 2449133-Joseph Trujillo | Biblioteca</p>
    </div>
</footer> 